ul {
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: center;
}
li {
  color: white;
  height: 80px;
  line-height: 80px;
}
.orange {
  background-color: #ffc562;
}
.blue {
  background-color: #a0c3f7;
}
.pink {
  background-color: #ff8db3;
}
.green {
  background-color: #88e7ce;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
    flex: auto;
    width: 50%;
}
